/*Alignment*/
.vertical-center {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.vh-85{
    height: 85vh!important;
}

.board {
    background-color: SteelBlue;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100vw;
}

.upper_board {
    height: 50vh;
    width: 64vw;
    background-color: LightSteelBlue;
}

.board_under {
    width: 100vw;
}

.color_picker, .pin_picker, .submit_area {
    height: 35vh;
    width: 20vw;
    background-color: LightSteelBlue;
}

.pin_column {
    margin-left: .5rem;
    margin-right: .5rem;
}

.pin_box {
    background-color: SteelBlue;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

.pin_large {
    width: 3rem;
    height: 3rem;
}

.red {
    background-color: Red;
}

.orange {
    background-color: Orange;
}

.yellow {
    background-color: Yellow;
}

.green {
    background-color: Green;
}

.blue {
    background-color: Blue;
}

.purple {
    background-color: Purple;
}

.pink {
    background-color: Pink;
}

.brown {
    background-color: Brown;
}

.white {
    background-color: White;
}

.black {
    background-color: Black;
}