/*Alignment*/
.vertical-center {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.vh-85{
    height: 85vh!important;
}

.board {
    height: 50vh;
    width: 100vw;
    background-color: LightSkyBlue;
}

.board_under {
    width: 100vw;
}

.color_picker, .pin_picker, .submit_area {
    height: 35vh;
    width: 20vw;
    background-color: LightSkyBlue;
}