/*Alignment*/
.vertical-center {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.vh-85{
    height: 85vh!important;
}

.board {
    background-color: SteelBlue;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100vw;
}

.upper_board {
    height: 50vh;
    width: 64vw;
    background-color: LightSteelBlue;
}

.board_under {
    width: 100vw;
}

.color_picker, .pin_picker, .submit_area {
    height: 35vh;
    width: 20vw;
    background-color: LightSteelBlue;
}

.pin_column {
    margin-left: .5rem;
    margin-right: .5rem;
}

.pin_box {
    width: 2rem;
    height: 2rem;
}