{% extends 'layout.html' %}

{% block css %}
<!--  <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">-->
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-4">
        <div class="col-md-6 border border-1 rounded board">
            <div class="container p-3 border border-1 rounded mb-4 vertical-center upper_board">
                {% for position_width in range(session.get('position_width') | int) %}
                <div class="border border-1 rounded pin_column">
                    {% for position_height in range(session.get('position_height') | int) %}
                    <div class="pin_box" id="{{ position_width }}-{{ position_height }}">
                        O
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            <div class="container row board_under">
                <div class="container p-3 border border-1 rounded vertical-center color_picker">
                    1
                </div>
                <div class="container p-3 border border-1 rounded vertical-center pin_picker">
                    2
                </div>
                <div class="container p-3 border border-1 rounded vertical-center submit_area">
                    <form action="/select_color" method="POST">
                        <button type="submit" class="btn btn-outline-primary mt-3">Submit code</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}