{% extends 'layout.html' %}

{% block css %}
<!--  <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">-->
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-4">
        <div class="col-md-6 border border-1 rounded board">
            <div class="container p-3 border border-1 rounded mb-4 vertical-center upper_board">
                {% for width in range((position_width) | int) %}
                <div class="border border-1 rounded p-1 pin_column">
                    {% for height in range((position_height) | int) %}
                    <div class="pin_box" id="{{ width }}-{{ height }}">
                        .
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            <div class="container row board_under">
                <div class="container p-3 border border-1 rounded color_picker">
                    <br><br><br><br>
                    <div class="vertical-center">
                        {% for color in colors %}
                        {% if color.value is divisibleby(2) %}
                        <a role="button" href="/game" class="pin_box pin_large {{ color.name }}">
<!--                            .-->
                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="vertical-center">
                        {% for color in colors %}
                        {% if color.value is not divisibleby(2) %}
                        <a role="button" href="/game" class="pin_box pin_large {{ color.name }}">
<!--                            .-->
                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="container p-3 border border-1 rounded vertical-center pin_picker">
                    2
                </div>
                <div class="container p-3 border border-1 rounded vertical-center submit_area">
                    <form action="/select_color" method="POST">
                        <button type="submit" class="btn btn-outline-primary mt-3">Submit code</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}