{% extends 'layout.html' %}

{% block css %}
<!--  <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">-->
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-4">
        <div class="col-md-6 border border-1 rounded board">
            <div class="container p-3 border border-1 rounded mb-4 vertical-center upper_board">
                {% for x in range((position_width) | int) %}
                <div class="border border-1 rounded p-1 pin_column">
                    {% for y in range((position_height) | int) %}
                    <div class="pin_box" id="{{ x }}-{{ y }}"></div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            <div class="container row board_under">
                <div class="container p-3 border border-1 rounded color_picker">
                    <br><br>
                    <div class="row vertical-center">
                        Current color:&nbsp;
                        <div class="pin_box {{ current_color }}"></div>
                    </div>
                    <br><br>
                    <div class="vertical-center">
                        {% for color in colors %}
                        {% if color.value is divisibleby(2) %}
                        <a role="button" href="{{ url_for('pick_color', picked_color = color.name) }}"
                           class="pin_box pin_large {{ color.name }}"></a>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="vertical-center">
                        {% for color in colors %}
                        {% if color.value is not divisibleby(2) %}
                        <a role="button" href="{{ url_for('pick_color', picked_color = color.name) }}"
                           class="pin_box pin_large {{ color.name }}"></a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="container p-3 border border-1 rounded vertical-center pin_picker">
                    <div class="border border-1 rounded p-1 pin_column">
                        {% for y in range((position_height) | int) %}
                        <div class="pin_box {{ current_code_input[y] }}">
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="container p-3 border border-1 rounded vertical-center submit_area">
                    <form action="/select_color" method="POST">
                        <button type="submit" class="btn btn-outline-primary mt-3">Submit code</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}